# Question 1

MongoDB is a document-oriented NoSQL database system that stores data in JSON-like documents with dynamic schemas. It is designed to be flexible, scalable, and fast, making it ideal for use in modern web applications and other high-performance environments. MongoDB is open-source and available for free, and it can run on a variety of platforms, including Windows, Linux, and macOS.

Non-relational databases are databases that store and manage data differently from traditional relational databases. Unlike relational databases, which use tables with fixed columns and rows, NoSQL databases can store data in a variety of formats, including documents, graphs, and key-value pairs. NoSQL databases are typically more flexible, scalable, and faster than relational databases, making them ideal for use in modern web applications and other high-performance environments.

MongoDB is a popular NoSQL database system that is well-suited for use in modern web applications and other high-performance environments that require flexibility, scalability, and fast data access. It is preferred over SQL databases in scenarios where the data is unstructured or semi-structured, there is a need for high scalability and availability, rapid development, and real-time analytics.

# Question 2

MongoDB is a powerful NoSQL database system that offers a wide range of features to meet the needs of modern web applications and other high-performance environments. Some of the key features of MongoDB include:

1. Document-Oriented: MongoDB is a document-oriented database system, which means that it stores data in JSON-like documents with dynamic schemas. This allows for flexibility in data modeling and makes it easy to work with data in a natural way.

2. Scalability: MongoDB is designed to be highly scalable, both vertically and horizontally. It supports automatic sharding, which allows data to be distributed across multiple servers, and can handle large amounts of data and traffic by adding more servers to the database cluster.

3. High Availability: MongoDB provides automatic failover and replication features, which ensure that the database remains available even if one or more servers fail. It also supports replica sets, which allow for hot backups and quick recovery in the event of a server failure.

4. Flexible Data Model: MongoDB's dynamic schema allows for flexibility in data modeling, making it easy to handle unstructured or semi-structured data. It supports a variety of data types, including arrays, nested documents, and geospatial data.

5. Indexing: MongoDB supports various types of indexing, including single field, compound, geospatial, and text indexing. This allows for fast data access and efficient querying of large datasets.

6. Aggregation Framework: MongoDB provides a powerful aggregation framework that allows for complex queries, data processing, and analysis. It supports a wide range of operations, including grouping, sorting, filtering, and projecting.

7. Real-time Analytics: MongoDB provides real-time analytics capabilities, allowing developers to easily query and analyze large amounts of data in real-time. This makes it ideal for use in modern web applications that require fast data processing and analysis.

8. Easy to Use: MongoDB is easy to set up and use, and it supports a variety of programming languages and development frameworks. It also provides comprehensive documentation and a vibrant community of developers, making it easy to get started and find help when needed.

In summary, MongoDB offers a wide range of features that make it an ideal database system for modern web applications and other high-performance environments.

# Question 3

In [1]:
# Code to connect to MongoDB
import pymongo

client = pymongo.MongoClient("mongodb+srv://pw-skills:pw-skills@cluster0.uabzwax.mongodb.net/?retryWrites=true&w=majority")
db = client.test

In [2]:
# Code to create database

db = client["Directory"] # Here database name is 'Directory'

In [3]:
# code to create collection

coll_1 = db["Users"] # Here collection name is "Users"

# Question 4

In [4]:
# Data to be inserted

one_data = {"author" : "Mudit", "book" : "The Lone Warrior"}

many_data = [
  { "name": "Amy", "address": "Apple st 652" },
  { "name": "Hannah", "address": "Mountain 21" },
  { "name": "Michael", "address": "Valley 345" },
  { "name": "Sandy", "address": "Ocean blvd 2" },
  { "name": "Betty", "address": "Green Grass 1" },
  { "name": "Richard", "address": "Sky st 331" },
  { "name": "Susan", "address": "One way 98" },
  { "name": "Vicky", "address": "Yellow Garden 2" },
  { "name": "Ben", "address": "Park Lane 38" },
  { "name": "William", "address": "Central st 954" },
  { "name": "Chuck", "address": "Main Road 989" },
  { "name": "Viola", "address": "Sideway 1633" }
]

In [5]:
coll_1.insert_one(one_data)   #Inserting only one data using 'insert_one()' command

In [7]:
coll_1.insert_many(many_data) #Inserting multiple data usnig 'insert_many()' command

In [9]:
# printing data using 'find()' method

for i in coll_1.find():
    print(i)

{'_id': ObjectId('641f615a9661c7cb424636cb'), 'author': 'Mudit', 'book': 'The Lone Warrior'}
{'_id': ObjectId('641f61a39661c7cb424636cc'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('641f61a39661c7cb424636cd'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('641f61a39661c7cb424636ce'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('641f61a39661c7cb424636cf'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('641f61a39661c7cb424636d0'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('641f61a39661c7cb424636d1'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('641f61a39661c7cb424636d2'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('641f61a39661c7cb424636d3'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('641f61a39661c7cb424636d4'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('641f61a39661c7cb424636d5'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('641f61a39661c7cb424636d6'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('641f61a39661c7cb424636d7'), 'name': 'Viola', 'address': 'Sideway 1633'}

In [13]:
# printing data using 'find_many()' method

result = coll_1.find_one({"name": "Sandy"})
print(result)

{'_id': ObjectId('641f61a39661c7cb424636cf'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}

# Question 5

The 'find()' method in PyMongo is used to query a MongoDB collection and retrieve multiple documents that match a given set of criteria. This method returns a cursor object, which allows you to iterate over the matching documents.

In [16]:
for i in coll_1.find({"name" : "Vicky"}):
    print(i)

{'_id': ObjectId('641f61a39661c7cb424636d3'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}

In [18]:
for i in coll_1.find({"name" : "John"}):
    print(i)
    
# Since no data is found so it will print nothing

# Question 6

The 'sort()' method in PyMongo is used to sort the results of a query in MongoDB. This method takes a dictionary argument that specifies the field or fields to sort by, and the order in which to sort the results.

In [19]:
# Using 'sort()' method

for i in coll_1.find().sort("name", pymongo.ASCENDING):
    print(i)
    
# This method will sort and print the result in ascending order of name

{'_id': ObjectId('641f615a9661c7cb424636cb'), 'author': 'Mudit', 'book': 'The Lone Warrior'}
{'_id': ObjectId('641f61a39661c7cb424636cc'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('641f61a39661c7cb424636d4'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('641f61a39661c7cb424636d0'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('641f61a39661c7cb424636d6'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('641f61a39661c7cb424636cd'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('641f61a39661c7cb424636ce'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('641f61a39661c7cb424636d1'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('641f61a39661c7cb424636cf'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('641f61a39661c7cb424636d2'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('641f61a39661c7cb424636d3'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('641f61a39661c7cb424636d7'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('641f61a39661c7cb424636d5'), 'name': 'William', 'address': 'Central st 954'}

# Question 7

In MongoDB, the delete_one() and delete_many() methods are used to remove documents from a collection, while the drop() method is used to remove the entire collection from the database.

>The 'delete_one()' method is used to remove a single document that matches a specified filter criteria. If multiple documents match the filter, only the first one will be deleted. 

>The 'delete_many()' method is similar to delete_one(), but it deletes all documents that match the specified filter criteria. 

>The 'drop()' method is used to completely remove a collection from the database. This is different from delete_many() because it removes the entire collection, including all of its indexes and associated data. 

Here's an example usage:

In [24]:
for i in coll_1.find():
    print(i)

{'_id': ObjectId('641f615a9661c7cb424636cb'), 'author': 'Mudit', 'book': 'The Lone Warrior'}
{'_id': ObjectId('641f61a39661c7cb424636cc'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('641f61a39661c7cb424636cd'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('641f61a39661c7cb424636ce'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('641f61a39661c7cb424636cf'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('641f61a39661c7cb424636d0'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('641f61a39661c7cb424636d1'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('641f61a39661c7cb424636d2'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('641f61a39661c7cb424636d3'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('641f61a39661c7cb424636d5'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('641f61a39661c7cb424636d6'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('641f61a39661c7cb424636d7'), 'name': 'Viola', 'address': 'Sideway 1633'}

In [25]:
# using 'delete_one'

coll_1.delete_one({"name": "Susan"})

In [27]:
for i in coll_1.find():
    print(i)

{'_id': ObjectId('641f615a9661c7cb424636cb'), 'author': 'Mudit', 'book': 'The Lone Warrior'}
{'_id': ObjectId('641f61a39661c7cb424636cc'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('641f61a39661c7cb424636cd'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('641f61a39661c7cb424636ce'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('641f61a39661c7cb424636cf'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('641f61a39661c7cb424636d0'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('641f61a39661c7cb424636d1'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('641f61a39661c7cb424636d3'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('641f61a39661c7cb424636d5'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('641f61a39661c7cb424636d6'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('641f61a39661c7cb424636d7'), 'name': 'Viola', 'address': 'Sideway 1633'}

In [31]:
# dropping the whole collection

coll_1.drop()

# now there will be no database in the MongoDB server