# Qusetion 1

In [6]:
import pandas as pd
data = [4, 8, 15, 16, 23, 42]
my_series = pd.Series(data)
print(my_series)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

# Question 2

In [7]:
import pandas as pd
my_list = [2, 4, 6, 8, 10, 12, 14, 16, 18, 20]
my_series1 = pd.Series(my_list)
print(my_series1)

0     2
1     4
2     6
3     8
4    10
5    12
6    14
7    16
8    18
9    20
dtype: int64

# Question 3

In [21]:
import pandas as pd
my_dict = {'Name' : ['Alice', 'Bob', 'Claire'],
           'Age' : [25, 30, 27],
           'Gender' : ['Female', 'Male', 'Female']}
my_dataframe = pd.DataFrame(my_dict)

my_dataframe.head()

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

In [22]:
print(type(my_dataframe))

<class 'pandas.core.frame.DataFrame'>

# Question 4

In pandas, a **Series** is a one-dimensional labeled array capable of holding data of any type while a **DataFrame** is a two-dimensional labeled data structure with columns of potentially different types.<br>
A **DataFrame** is a collection of **Series**, where each **Series** represents a column in the **DataFrame**. It is the most commonly used data structure in pandas as it is suitable for handling tabular data with rows and columns.<br>
Example:

In [16]:
import pandas as pd

# Example of a Series
s = pd.Series([4, 8, 15, 16, 23, 42], name='Numbers')
s.head()

0     4
1     8
2    15
3    16
4    23
Name: Numbers, dtype: int64

In [17]:
# Example of a DataFrame
data = {'Name': ['John', 'Alice', 'Bob'],
        'Age': [25, 31, 42],
        'City': ['New York', 'London', 'Paris']}
df = pd.DataFrame(data)
df.head()

    Name  Age      City
0   John   25  New York
1  Alice   31    London
2    Bob   42     Paris

In [20]:
print(type(s),"\n",type(df))

<class 'pandas.core.series.Series'>
 <class 'pandas.core.frame.DataFrame'>

# Question 5

There are many functions available in Pandas for manipulating data in a DataFrame. Here are some common functions:
1. **head()** and **tail()**: These functions allow you to view the first or last n rows of a DataFrame, respectively. For example, you might use **df.head()** to quickly preview the first 5 rows of a large DataFrame.
2. **describe()**: This function generates descriptive statistics for the DataFrame, such as count, mean, and standard deviation. You might use **df.describe()** to get a high-level overview of the distribution of your data.
3. **info()**: This function provides a summary of the DataFrame, including the number of non-null values, data types, and memory usage. You might use **df.info()** to quickly understand the structure and contents of a DataFrame.
4. **shape()**: This function returns the dimensions of a DataFrame as a tuple. The tuple contains the number of rows and columns, respectively. You might use **print(df.shape)** to get the shape of DataFrame.
5. **dropna()**: This fucntion allows you to remove rows or columns from a DataFrame that contain missing or null values. You might use **df.dropna()** to remove the rows with missing values.
6. **iloc()**: This function allows you to select specific rows and columns of a DataFrame using **integer indexing only**. For example: **df.iloc[0:3,1:3]** will give the (0,1,2) rows and (1,2) column in result.
7. **loc()**: This function allows you to select specific rows and columns of a DataFrame using **label-based indexing**. For example: **df.loc[0:3,['Gender','Age','TicketPrice']]** will give the (0,1,2) rows and specified column in result.

# Question 6

Both Series and DataFrame are mutable in nature, meaning you can modify their contents after creation.

# Question 7

In [14]:
import pandas as pd

series1 = ['Mudit', 'Rishabh', 'Syed']
series2 = [20, 20, 19]
series3 = [2820319, 2820318, 2820302]

my_dataframe = pd.DataFrame({'Name' : series1, 'Age' : series2, 'Roll Number' : series3})

my_dataframe.head()

      Name  Age  Roll Number
0    Mudit   20      2820319
1  Rishabh   20      2820318
2     Syed   19      2820302